/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Kufi+Arabic:wght@100..900&family=Playpen+Sans+Hebrew:wght@100..800&display=swap'); */

/* :root { */
  /* “hand-drawn” logical font */
  /* --excalidraw-font-hand-drawn: "Playpen Sans Hebrew", cursive; */

  /* “normal” logical font */
  /* --excalidraw-font-normal: Assistant, system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */

  /* “code” logical font */
  /* --excalidraw-font-code: Arial, ui-monospace, SFMono-Regular, Menlo, Monaco, monospace; */

/* } */
